--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.3.1+cu118
torchvision==0.18.1+cu118
mathutils
tqdm
pandas
h5py
matplotlib
scipy
pyquaternion
opencv-python
pykitti
numpy
tensorboardX
open3d-python
scikit-image
sacred
